@charset "UTF-8";

body{
    background-color: #f2f2f2;
}

.paleta-preto-bg{
    background-color: #0d0d0d!important;
}

.paleta-preto-color{
    color: #0d0d0d!important;
}

footer{
    margin-top: 1em;
    padding: 1em;
}
footer a{
    text-decoration: none;
}

footer li{
    list-style: none;
}
footer ul{

    padding-inline-start: 0;
}

.paleta-branco-color, footer a{
    color: #f2f2f2;
}

.paleta-cinza-color{
    color: #bfbfbf;
}

#judiciario p, #legislativo p, #executivo p{
    text-align: justify;
}
.botao{
    border-radius: 3em;
}

/* css página partidos */

#partidos .card{
    margin: 3px 5px 3px 0;
    padding-left: 0;
    width: 350px;
}
#partidos .card-body{
    padding-bottom: 0;
}

/* css página Linha do Tempo dos Presidentes */

.daniel_presidente_title {
    border-style: groove groove groove groove !important;
    border-color: darkgray;
    border-radius: 5%;
}

.daniel_presidente_border {
    border-style: none dashed none none !important;
    border-right-color: red;
}

.daniel_presidente_border_r {
    border-style: groove dashed groove groove !important;
    border-color: darkgray;
    border-right-color: red;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

@media (max-width: 768px) {
  .daniel_presidente_border_r {
      border-style: groove groove groove groove !important;
      border-color: darkgray;
      border-radius: 5%;
  }
}

.daniel_presidente_border_l {
    border-style: groove groove groove none !important;
    border-color: darkgray;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

@media (max-width: 768px) {
  .daniel_presidente_border_l {
      border-style: groove groove groove groove !important;
      border-color: darkgray;
      border-radius: 5%;
  }
}

.daniel_presidente_box {
background-image: linear-gradient(to bottom right, #8C8C8C, #F2F2F2)
}
